
    <div class="container">
        <div class="row">
            
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-3 mt-4">

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-dark">Add Employee</h1>
                    </div> 

                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Employee Code </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Employee Name </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark">  Designation </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Salary </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Phone Number </label>
                        <input type="text" class="number form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark">  District </label>
                       
                        <select name="" id="" class="form-control">
                            <option value=""> ---Select District--- </option>
                            <option value="Alappuzha"> Alappuzha </option>
                            <option value="Ernakulam"> Ernakulam </option>
                            <option value="Idukki"> Idukki </option>
                            <option value="Kannur"> Kannur </option>
                            <option value="Kasargod"> Kasargod </option>
                            <option value="Kozhikode"> Kozhikode </option>
                            <option value="Malappuram"> Malappuram </option>
                            <option value="Palakkad"> Palakkad </option>
                            <option value="Pathanamthitta"> Pathanamthitta </option>
                            <option value="Thiruvananthapuram"> Thiruvananthapuram </option>
                            <option value="Trissur"> Trissur </option>
                            <option value="Wayanad"> Wayanad </option>
                            <option value="Kottayam"> Kottayam </option>
                            <option value="Kollam"> Kollam </option>
                        </select>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Company name </label>
                        <input type="text" class="form-control">
                    </div>
                    
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Email-Id </label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Year of Experience  </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Date of Joining </label>
                        <input type="date" name="" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> User Name </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark"> Password </label>
                        <input type="password" name="" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <label for="" class="form-label text-dark">Confirm Password </label>
                        <input type="password" name="" id="" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <button class="btn btn-success"> SUBMIT </button>
                    </div>
                </div>
            </div>
        </div>
    
   